<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        
        {{TaskForms.title}}

        <input class="btn" type="submit" name="Create Task">

    </form>
    <h1>This is a task page</h1>
    {% for task in tasks %}
        <h1>{{task.title}}</h1>
        <p> {{task.completed}}  created on {{task.created}}</p>

    {% endfor %}
</body>
</html>