<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <form method="POST" action="/">
        {% csrf_token %}
        
        {{TaskForms.title}}

        <input class="btn" type="submit" name="Create Task">

    </form>
    <h1>This is a task page</h1>
    {% for task in tasks %}
        <h1>{{task.title}}</h1>
        <h3>
            {% if not task.completed %}
                Not completed
            {% else %}
                Completed
            {% endif %}
        </h3>
        <a href="{% url 'update_task' task.id  %}""> Update </a> || 
        <a href="{% url 'delete_task' task.id  %}""> Delete </a>
    {% endfor %}
</body>
</html>